/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Header Styles */

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Form Styles */

form {
  margin-bottom: 20px;
}

.upload-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: #fff;
}

.upload-button:hover {
  background-color: #3e8e41;
}

.upload-button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style both file input and log button the same way */
#upload-button, #notification-button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: #fff;
}

#upload-button:hover, #notification-button:hover {
  background-color: #3e8e41;
}

#upload-button:focus, #notification-button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Message Styles */

#message {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #666;
}

/* Responsive Design */

@media (max-width: 600px) {
  .container {
    margin: 20px auto;
    padding: 10px;
  }

  h1 {
    font-size: 20px;
  }

  #file-input, #notification-button {
    padding: 5px 10px;
    font-size: 14px;
  }
}
